<h1>Tony Twit</h1>
<p>This is the homepage for the</p>
	<a href="http://www.railstutorial.org">Ruby on Rails Tutorial</a>
</p>

<%= link_to "Sign Up Now", signup_path, :class => "signup_button round"%>
